@font-face {
  font-family: "PT Root UI";
  src: url("./assets/fonts/PT-Root-UI_Regular.woff2") format("woff2"),
    url("./assets/fonts/PT-Root-UI_Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Root UI";
  src: url("./assets/fonts/PT-Root-UI_Bold.woff2") format("woff2"),
    url("./assets/fonts/PT-Root-UI_Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PT Root UI";
  src: url("./assets/fonts/PT-Root-UI_Medium.woff2") format("woff2"),
    url("./assets/fonts/PT-Root-UI_Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PT Root UI";
  src: url("./assets/fonts/PT-Root-UI_Light.woff2") format("woff2"),
    url("./assets/fonts/PT-Root-UI_Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

html {
  font-size: 0.625em;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  font-size: 1.5rem;
  user-select: none;
  -webkit-user-select: none;
  background: rgb(25 25 25);
  color: white;
  overflow: hidden;
  text-rendering: optimizeLegibility;
}

html,
body,
#app-mount,
#app-mount > [data-rk] {
  height: 100%;
  width: 100%;
}

svg {
  display: block;
  height: auto;
}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

@supports (-webkit-touch-callout: none) {
  input,
  [role="textbox"] {
    font-size: 1.6rem;
  }
}
