html {
  font-size: 0.625em;
}
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 1.5rem;
  user-select: none;
  -webkit-user-select: none;
  background: #2f3136;
  color: white;
  overflow: hidden;
  text-rendering: optimizeLegibility;

  /* The contextuals make hex addresses look ugly */
  font-variant: no-contextual;
}

::selection {
  background: #3336d18a;
}

html,
body,
#app-mount {
  height: 100%;
  width: 100%;
}

svg {
  display: block;
  height: auto;
}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}
