html {
  font-size: 0.625em;
}
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 1.5rem;
  user-select: none;
  -webkit-user-select: none;
  background: hsl(0, 0%, 10%);
  color: white;
}
