*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text-normal: hsl(0 0% 5%);
  --text-dimmed: hsl(0 0% 0% / 64%);
  --text-link: #1f4fb2;
  --text-warning: #8f6600;
  --background: hsl(0 0% 98%);
  --background-modifier: hsl(0 0% 0% / 5%);
  --background-warning: #e5ddc7;
  --border: hsl(0 0% 0% / 25%);
  --small: 0.875em;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 0.625em;
  font-synthesis: none;
}

body {
  font-size: 1.6rem;
  margin: 0 auto;
  width: 100%;
  padding: 1.6rem;
  line-height: 1.375;
  color: var(--text-normal);
  background: var(--background);
  word-break: break-word;
}

input,
button,
textarea,
select,
label {
  font: inherit;
  display: block;
}

a {
  color: var(--text-link);
}

p {
  margin: 1em 0;
}

p[data-compact] {
  margin: 0.5em 0;
}

ul,
ol {
  margin: 0;
  padding: 0 0 0 2em;
}

dd,
dl {
  margin: 0;
}

dd {
  display: block;
}

dl {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  gap: 0.8rem 1.6rem;
  align-items: baseline;
}

dl:not([data-plain]) > dt {
  font-size: var(--small);
  color: var(--text-dimmed);
  line-height: calc(22 / 14);
}

dd[data-fullwidth] {
  grid-column: span 2;
  padding-left: 1.6rem;
  line-height: 1.466667;
}

hr {
  margin: 1.6rem 0;
  border: 0;
  border-top: 1px solid var(--border);
}

button,
input,
textarea,
select {
  color: inherit;
  border: 1px solid var(--border);
  border-radius: 0.3rem;
  background: none;
  min-height: 2em;
}

button,
input,
select {
  height: 2em;
}

label,
small,
[data-small] {
  font-size: var(--small);
}

label,
small,
[data-dimmed] {
  color: var(--text-dimmed);
}

[data-warning] {
  color: var(--text-warning);
  background: var(--background-warning);
}

[data-box] {
  padding: 1.6rem;
  border-radius: 0.3rem;
}

button {
  background: var(--background-modifier);
  padding: 0 0.6em;
  line-height: 1;
}

button:disabled {
  opacity: 0.5;
}

button[data-small] {
  font-size: var(--small);
}

button[data-icon] {
  padding: 0;
  aspect-ratio: 1 / 1;
}

select {
  background: var(--background-modifier);
}

input {
  padding: 0 0.4em;
}

textarea {
  padding: 0.4em;
}

label + input,
label + textarea,
label + select {
  margin-top: 0.8rem;
}

details summary {
  position: relative;
  cursor: pointer;
  /* appearance: none; */
}

details[open] > summary {
  margin-bottom: 1.6rem;
}

img {
  background: var(--background-modifier);
}

h1 {
  line-height: 1.2;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--border);
}

pre code {
  display: block;
  padding: 0.8rem;
  overflow: auto;
  border-radius: 0.4rem;
  color: var(--text-dimmed);
  background: var(--background-modifier);
  line-height: 1.4;
  font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono",
    Courier, monospace;
  font-size: 0.75em;
  user-select: text;
}

@media (hover: hover) {
  button:not(:disabled),
  select:not(:disabled) {
    cursor: pointer;
  }
}

@media (min-width: 600px) {
  body {
    width: 58rem;
    max-width: 100%;
    padding: 4em 1em;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-normal: hsl(0 0% 95%);
    --text-dimmed: hsl(0 0% 100% / 64%);
    --text-link: #6da6f9;
    --text-warning: #ffe092;
    --background: hsl(0 0% 10%);
    --background-modifier: hsl(0 0% 100% / 8%);
    --background-warning: #ffdc8e1a;
    --border: hsl(0 0% 100% / 25%);
  }

  /* body {
    background: var(--background);
    color: var(--text-normal);
  } */

  button,
  select {
    border-color: transparent;
    box-shadow: 0 0.1em 0.4em 0 hsl(0 0% 0% / 5%);
  }
}
