<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/farcord-favicon-192x192.png"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta property="og:site_name" content="farcord" />
    <meta property="og:type" content="website" />
    <% if (htmlWebpackPlugin.options.isProduction) { %>
    <script
      src="https://cdn.usefathom.com/script.js"
      data-site="RWRKCSHL"
      defer
    ></script>
    <% } %>
  </head>
  <body>
    <div id="app-mount" />
  </body>
</html>
